.App {}

body {
  font-family: 'Josefin Sans', sans-serif;
}

a:hover,
.button:hover,
button:hover {
  cursor: pointer;
}

header {
  align-items: center;
  display: flex;
  margin-bottom: 2em;
  padding: 0 .5em;
}

header h1 {
  margin-right: auto;
}

header p {
  margin-left: auto;
  margin-right: 1em;
}

strong {
  font-weight: bold;
}

main {
  display: flex;
}

.sidebar {
  width: 40%;
}

.mainbar {
  position: relative;
  width: 60%;
}

.mainbar figure {
  background-color: #eee;
  height: 0;
  padding-top: 60%;
  position: relative;
  width: 100%;
}

canvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

form {
  padding: 1em;
}

[disabled] {
  opacity: .25;
}

[disabled]:hover {
  cursor: not-allowed;
}

.button {
  border-radius: .5em;
  font-size: 1em;
  padding: .5em 1.5em;
  text-decoration: none;
}

.export-as-image {
  background-color: transparent;
  border: none;
  color: blue;
}

.export-as-image[disabled] {
  color: #333;
}

.add-item {
  background-color: blue;
  border: none;
  color: #fff;
  margin: 0 .5em;
}

.remove-item {
  background: none;
  border: none;
  position: relative;
  z-index: 2;
}

.remove-item span {
  display: block;
  height: 2em;
  position: relative;
  text-align: left;
  text-indent: -999em;
  width: 2em;
}

.remove-item span:before,
.remove-item span:after {
  border-top: 2px solid red;
  content: "";
  display: block;
  left: 50%;
  margin-left: -.5em;
  position: absolute;
  top: 50%;
  width: 1em;
}

.remove-item span:before {
  transform: rotate(45deg);
}

.remove-item span:after {
  transform: rotate(-45deg);
}

table {
  table-layout: fixed;
  width: 100%;
}

table th:nth-child(1),
table td:nth-child(1) {
  width: 60%;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 30%;
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 10%;
}

table th {
  padding: .25em;
  text-align: left;
  font-weight: bold;
}

table td {
  padding: .25em;
  vertical-align: middle;
}

input {
  border: 1px solid #333;
  border-radius: .25em;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.125em;
  outline: none;
  max-width: 100%;
  padding: .25em 0;
  text-indent: .25em;
  width: 100%;
}