html {
  background-color: #e3e3e3;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  background-color: #fff;
  padding: 1em .25em;
}

footer {
  background-color: #fff;
  padding: 1em 0;
  text-align: center;
}

.sidebar {
  background-color: #fff;
  margin-left: auto;
  position: relative;
}

.mainbar {
  margin-right: auto;
  position: relative;
}

h1 {
  text-align: center;
}

small {
  font-size: .75em;
}

strong {
  font-weight: bold;
}

@media all and (min-width: 800px) {
  main {
    display: flex;
    min-height: calc(100vh);
  }

  .sidebar {
    width: 35%;
  }

  .mainbar {
    width: 65%;
  } 
}
