button:focus {
  outline: none;
}

a:hover,
.button:hover,
button:hover {
  cursor: pointer;
  outline: none;
}

[disabled] {
  opacity: .25;
}

[disabled]:hover {
  cursor: not-allowed;
}

.actions {
  align-items: center;
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 25em;
  font-size: 1.125em;
  margin: 0 auto;
  padding: .5em .75em;
  text-decoration: none;
  width: 47.5%;
}